mat-table {
    width: 100%;
    margin: 20px auto;
}

div-layout{
  width: 80%;
  margin: 20px auto;
}

.ion-text-center{
  display: flex;
  align-items: center;
  justify-content: center;
}
